@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --text-color: rgb(169, 169, 179)
}

body {
  font-family: 'Roboto Mono', sans-serif;
  background-color: #282b30;
  color: #ccc;
  font-size: 18px;
  line-height: 1.6;
}
div{
  text-align: center;
}
article {
  display: block;
}
hr{
  width: auto;
  border-style: dashed;
}
h1 {
  color: var(--text-color);
  font-size: 40px;
  letter-spacing: -5px;
  margin-bottom: 20px;
}

h2 {
  color: var(--text-color);
}

h3 {
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
}

a {
  color: var(--text-color);
  text-decoration: none;
}
p{
  text-align: left;
  font-size: 1rem;
}
pre{
  text-align: left;
}
p.about{
  margin: 20px 0;
  color: rgb(169, 169, 179);
  border-style: dashed solid;
  padding: 80px;
}

nav {
  width: 30%;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul li {
  color: var(--text-color);
  cursor: pointer;
}
/*  */
.content {
  display: flex;
  flex-direction: column;
  flex: 1 auto;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.post {
  width: 100%;
  max-width: 800px;
  text-align: left;
  padding: 20px;
  margin: 0px auto;
}
.post-info {
  margin-top: 30px;
  font-size: 0.8rem;
  line-height: normal;
  opacity: .6;
}
.post-title {
  font-size: 2rem;
}
.post-content {
  margin-top: 30px;
}

.container {
  max-width: 600px;
  margin: auto;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wb-body {
  background: #111;
  padding: 20px;
}

.hidden {
  display: none;
}

.cursor {
  font-weight: 700;
  animation: 1s blink step-end infinite;
}
/*  */
.mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: #555;
  height: 500px;
  color: white;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  float: left;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.icon {
  float: right;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  color: white;
}
.menu {
  display: none; /* Hide on Desktop */
}

@media (max-width: 600px) {
   .menu {
    display: block; /* Show on Mobile */
  }
}

@media (max-width: 600px) {
  .desktop-content{
    display: none !important;
  }
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }

  50% {
    color: var(--text-color);
  }
}
